<template>

<q-layout view="lHh Lpr lff">
    <div class="bg-video-wrap">
        <video src="~assets/landing/RAF_LandingPage.mp4" loop muted autoplay></video>
    <div class="col overlay">
    
<q-header class="transparent q-px-lg">
        <div class="row flex flex-center">
            <div class="col-md-4 col-xs-5 gt-xs">
                <a href="http://www.mycreative.com.my/" target="_blank">
                <span><q-img src="~assets/landing/mycreative.png" style="width:15%; height:15%"/></span>
                </a>
                <a href="http://mycreative.com.my/penjana" target="_blank">
                <span><q-img src="~assets/landing/Penjana.png" style="width:25%; height:25%"/></span>
                </a>
            </div>

            <div class="col-md-4 col-xs-2 text-center">
                <q-btn flat label="About" @click="show = true" class="text-h4 text-white"/>
                    <q-dialog v-model="show" >
                            <q-img src="~assets/landing/Asset21.png" style="height:65%; border-radius:15px">
                                <q-icon 
                                    flat 
                                    v-close-popup
                                    size="30px"
                                    style="cursor: pointer;" 
                                    class="q-pa-lg absolute-right">
                                    <q-img src="~assets/landing/Asset22.png"/>
                                </q-icon>
                            <p class="k-about text-indigo-10 text-weight-bold text-center">
                            Revive Arcade Festival introduces Asia’s first extensive interactive 2D pixel art music festival featuring 27 acts from South East Asia. We aim to redefine the live performance experience by reimagining the long standing tradition of annual music festivals.
                            <br>
                            <br>
                            In collaboration with Persona Theory Games, audiences will get the chance to build their own virtual characters, play mini games, enjoy live performances from artists and rising talents from Southeast Asia, and more.
                            <br>
                            <br>
                            Revice Arcade Festival elevates the festival experience like never before!
                            </p>
                            </q-img>     
                </q-dialog>
            </div>

<q-space />
            <div class="q-gutter-md flex">
                <div>
                    <a href="https://www.instagram.com/revive.arcade/" target="_blank">
                    <span><i class="fab fa-instagram fa-2x" style="color:white"></i></span>
                    </a>
                </div>

                <div>
                    <a href="https://www.instagram.com/revive.arcade/" target="_blank">
                    <span><i class="fab fa-facebook fa-2x" style="color:white"></i></span>
                    </a>
                </div>

                <div>
                    <a href="http://twitter.com/revive_arcade" target="_blank">
                    <span><i class="fab fa-twitter fa-2x" style="color:white"></i></span>
                    </a>
                </div>

                <div>
                    <a href="https://www.instagram.com/revive.arcade/" target="_blank">
                    <span><i class="fab fa-tiktok fa-2x" style="color:white"></i></span>
                    </a>
                </div>
            </div>
    </div>
</q-header>

<q-page-container>
 <div class="row flex flex-center" style="margin-top:70px;">
     <div class="col-md-5 col-xs-10">
          <q-img src="~assets/landing/RAF.gif" />
    </div>
 </div>
    <div class="row flex flex-center">
    <div class="col-md-5 col-xs-11 q-gutter-sm q-px-xl">
          <q-img src="~assets/landing/Asset5.png" />
          <!-- <div class="text-h5 text-weight-bolder text-stroke">INTERACTIVE ONLINE EXPERIENCE</div> -->
    
        <q-card bordered style="border-color:#1a237e; border-radius: 15px">
            <q-img src="~assets/landing/RAF-BoxGradient.png" style="height:100px">
            <div class="fit transparent" style="padding:5px;">
            <div class="text-h4 text-center text-indigo-10">GET NOTIFIED:</div>

                    <q-input 
                        dense 
                        outlined
                        bg-color="white" 
                        v-model.trim="form.email"
                        ref="email"
                        :error="$v.form.email.$error"
                        error-message="Need a valid email"
                        class="q-px-md"
                    >
                    <template v-slot:append>
                    <q-btn 
                        flat
                        @click="onClickSubmit"
                    >
                        <img src="~assets/landing/Asset 20.png">
                    </q-btn>
                    </template>  
                    </q-input>
            </div> 
            </q-img>        
        </q-card>
        
    </div>
    </div>
    
</q-page-container>
       
   

<q-footer class="transparent q-px-lg" style="height:90px; position:fixed;">
     <div class="row">
        <div class="col q-gutter-sm">
                <a href="http://talarecordsasia.com/" target="_blank">
                <span><q-img src="~assets/landing/TalaLogo.png" style="width:60px; height:60px"/></span>
                </a>

                <a href="https://www.instagram.com/revive.arcade/" target="_blank">
                <span><q-img src="~assets/landing/Meatcute.png" style="width:70px; height:70px"/></span>
                </a>

                <a href="https://wearesonikl.com/" target="_blank">
                <span><q-img src="~assets/landing/soniklwhite.png" style="width:90px; height:30px"/></span>
                </a>

                <a href="https://twitter.com/personatheorymy" target="_blank">
                <span><q-img src="~assets/landing/PTGlogo.png" style="width:110px; height:90px"/></span>
                </a>
        </div>
    </div>
</q-footer>

  </div>
  </div>
</q-layout>
</template>

<script>
import { required, email } from 'vuelidate/lib/validators'

export default {
  data() {
    return {
      form: {
        email: '',
      },
      show: false
    }
  },
  validations: {
    form: {
      email: { required, email }
    }
  },
methods: {
    onClickSubmit() {
      this.$v.form.$touch();

      if (this.$v.$anyError)
        return false

      alert(`Thank you`)
    },
}
}
</script>