// app global css in SCSS form
// @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

// body {
//   font-family: 'Nunito', sans-serif;
// }

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: 'Space Grotesk', sans-serif;
  color: $grey-14;
}

a {
  text-decoration: none;
  color: $primary;
}

.k-about {
  padding: 100px 70px 70px 70px;
}


.text-stroke {
  color: white;
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: black;
}

.bg-video-wrap {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background: url(../assets/landing/RAF_LandingPage.mp4) no-repeat;
  object-fit: cover;
}
video {
  min-width: 100%;
  min-height: 100vh;
  width: auto;
  height: 100%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1 ;
  object-fit: fill;
}
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2; 
}


@media (max-width: $breakpoint-xs-max)
 {
  .text-h4 {
    font-size:1rem;
  }

}