<template>
    <div class="bg-primary text-white q-py-md">
        <div class="q-py-lg">
            <div class="row justify-center full-width q-px-sm">
                    
                <div class="col-4">
                    <div>FAQ</div>
                    <div>TERMS & CONDITIONS</div>
                    <div>PRIVACY POLICY</div>
                    <div>CONTACTS</div>
                </div>

                <div class="col-4">
                </div>

                <div class="col-4">
                </div>
                
            </div>
        </div>
    </div>
</template>

<script>

export default {
data () {
    return {
    }
  }
}
</script>
