<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
                <q-btn label="Home" />
                <q-btn label="About" />
                <q-btn label="Tickets" />
                <q-btn label="Logo" />
                <q-btn label="Merch" />
                <q-btn label="Line Up" />
                <q-btn label="Faq" />
        <q-toolbar-title>
        </q-toolbar-title>
        
        <div>
          <q-btn flat class="text-white" @click="onClickLogout">Logout</q-btn>
        </div>
      </q-toolbar>
    </q-header>

    <q-page-container style="background-color: #fafafa;">
      <router-view />
    </q-page-container>

    <k-footer />
  </q-layout>
</template>

<script>
import KFooter from 'src/layouts/Footer.vue'


export default {
  name: 'MainLayout',
  components : { KFooter},
  data () {
    return {
      
    }
  },


  methods: {
    onClickLogout() {
      this.$store.dispatch('Logout')
      this.$router.push('/login')
    },
  },
}
</script>
